<!DOCTYPE html>
<html>
<head>
<title>University Admit Eligibility Predictor</title>
<link rel = "icon" href = "/static/img/Logo.jpg" type = "image/x-icon">
<body style=" background-image:url('/static/img/background 1.jpg');background-repeat: no-repeat;background-attachment:fixed;background-size: 100% 100%;" >
<div style="position:absolute;left:1300px">
<img src="/static/img/Logo.jpg" alt="Website Logo" style="width:40px;height:40px;">
</div>
<div style="position:absolute;top:20px;left:280px">
<p style="font-family:serif;font-size:45px;text-align:center;text-decoration:underline;color:#F6E9F9">
<strong>University Admit Eligibility Predictor</strong>
<div style="position:absolute;top:70px;left:200px">
<p style="font-family:serif;font-size:80px;text-align:center;text-decoration:underline;color:#F6E9F9">
<p style="color: black"><i><strong>You do not have a good chance of admit! Sorry!</strong><br>{{content}}%</i></p>

</p>
</div>
</body>
</html>