<!DOCTYPE html>
<html>
<head>
<title>University Admit Eligibility Predictor</title>
<link rel = "icon" href = "/static/img/Logo.jpg" type = "image/x-icon">
<body style=" background-image:url('/static/img/background 1.jpg');background-repeat: no-repeat;background-attachment:fixed;background-size: 100% 100%;" >
<div style="position:absolute;left:1300px">
<img src="/static/img/Logo.jpg" alt="Website Logo" style="width:40px;height:40px;">
</div>
<div style="position:absolute;top:20px;left:280px">
<p style="font-family:serif;font-size:45px;text-align:center;text-decoration:underline;color:#F6E9F9">
<strong>University Admit Eligibility Predictor</strong>
</p>
</div>
<div style="position:absolute;top:150px;left:220px">
<p style="font-family:serif;font-size:100px;text-align:center;text-decoration:underline;color:#F6E9F9">
<p style="color:#F6E9F9"><i>Students are often worried about their chances of admission to University. The aim of this project is to help students in shortlisting universities with their profiles. The predicted output gives them a fair idea about their admission chances in a particular university. This analysis should also help students who are currently preparing or will be preparing to get a better idea.</i></p>
</p>
</div>
<div style="position:absolute;top:450px;left:470px">
<p style="font-family:serif;font-size:30px;text-align:center;text-decoration:underline;color:#F6E9F9">
<a style="color:#F6E9F9" href="/Page 1" target="_blank"><i>Proceed to check Eligibility</i></a>
</p>
</div>
</body>
</html>